<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apt">
	<!-- <select id="all"  resultType="aptVO" >
		select * from apt
	</select>-->
	<select id="all" parameterType="aptVO" resultType="aptVO">
		select apt_name from apt where apt_name like CONCAT('%',#{apt_name},'%')
	</select> 
	
	<select id="code" parameterType="aptVO" resultType="aptVO">
		select apt_name, apt_code from apt where apt_name like CONCAT('%',#{apt_name},'%')
		<!-- select apt_name, apt_city from apt where apt_name like CONCAT('%',#{apt_name},'%') -->
	</select>
</mapper>