<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apt">
	<!-- <select id="all"  resultType="aptVO" >
		select * from apt
	</select>
		<select id="one" parameterType="aptVO" resultType="aptVO">
		select * from apt where name like CONCAT('%',#{name},'%')
	</select> -->
</mapper>











