<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<!-- cate별로 상세 게시판 보기. --> 
	<!-- 세션의 apt_code 와 <a href>의 bbs_cate를 둘 다 일치하는 게시글 목록 들고오기 -->
	<select id="list5" parameterType="bbsVO" resultType="bbsVO">
		select * from bbs where apt_code=#{apt_code} AND bbs_cate=#{bbs_cate} ORDER BY bbs_date DESC limit 5
	</select>
	
	<!-- cate별로 상세 게시판 보기. --> 
	<!-- 세션의 apt_code 와 <a href>의 bbs_cate를 둘 다 일치하는 게시글 목록 들고오기 -->
	<select id="all" parameterType="bbsVO" resultType="bbsVO">
		select * from bbs where apt_code=#{apt_code} AND bbs_cate=#{bbs_cate}
	</select>

	<!-- 게시글 보기 -->
	<!-- <a href>의 bbs_id로 게시글 정보 가져오기 -->
	<select id="one" parameterType="bbsVO" resultType="bbsVO">
		select * from bbs where bbs_id=#{bbs_id}
	</select>
	
	
	<insert id="create" parameterType="bbsVO">
		insert into bbs(bbs_title, bbs_date, bbs_writer, bbs_content, bbs_file, apt_code, bbs_notice, bbs_cate) 
					values(#{bbs_title}, NOW(), #{bbs_writer}, #{bbs_content}, #{bbs_file},#{apt_code},#{bbs_notice},#{bbs_cate})
	</insert>
	
	<!-- delete, update, all, search, 다시 참조하기--> 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 휘동 작업 영역  -->
	<select id="bbshotall" resultType="bbsVO">
		select * from bbs ORDER BY bbs_date DESC limit 5
	</select>
	
	<select id="bbshotone" parameterType="bbsVO" resultType="bbsVO">
		select * from bbs where bbs_id = #{bbs_id}
	</select>
	
	<update id="bbshotup" parameterType="int">
		update bbs set bbs_count = bbs_count+1 where bbs_id = #{bbs_id}
	</update>
	
	<update id="bbshotlike" parameterType="likeVO">
		UPDATE bbs SET bbs_like = CONCAT(bbs_like, ', #{member_id}') WHERE bbs_id = #{bbs_id}
	</update>
	
</mapper>











