<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="busstop">
 	<!-- <insert id="create" parameterType="busstopVO">
		insert into bus_stop values(#{stop_id}, #{stop_lat}, #{stop_lon}, #{stop_name})
	</insert> -->
	
	<update id="up" parameterType="busstopVO">
		update bbs set content=#{content} where id=#{id}
	</update>
	<!-- 버스정류장 정보 다들고오기 -->
	<select id="all" parameterType="busstopVO" resultType="busstopVO">
	select * from bus_stop
	</select>
	<!-- 입력한 제목으로 해당 아파트 코드 내 검색  -->
<!-- 	<select id="search" parameterType="bbsVO" resultType="bbsVO">
		select * from bbs where title=#{title} and code=#{code}
	</select> -->
	<!-- 상세보기 하기위한 id로 하나검색하는 sql  -->
	<!-- <select id="one" parameterType="bbsVO" resultType="bbsVO">
	select * from bbs where id=#{id}
	</select>   -->
</mapper>











