<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="create" parameterType="memberVO">
		insert into member(member_id, member_pw, member_name, member_tel, apt_code, sub_addr, member_date) values (#{member_id}, #{member_pw}, #{member_name},  #{member_tel}, #{apt_code}, #{sub_addr},now())
	</insert>
	
	<update id="up" parameterType="memberVO">
		update member set member_pw = #{member_pw}, member_tel = #{member_tel} where member_code = #{member_code}
		<!-- update apt_member set sub_addr = #{sub_addr} where id = #{id} -->
	</update>
	
	<delete id="del"  parameterType="memberVO">
		update member set member_id = concat('#del/',member_id,'/',round(rand()*100,5)), member_name = '탈퇴한 회원', member_tel = '탈퇴한 회원', sub_addr = '탈퇴한 회원' where member_code  = '1'
	</delete>
	
	<select id="one" parameterType="memberVO" resultType="memberVO">
		select * from apt_member where id = #{id}
	</select>
	
	<select id="print" parameterType="memberVO" resultType="memberVO">
		select * from member where member_code = #{member_code}
	</select>
	
	<select id="all" resultType="memberVO">
		 select * from member where member_cls = '0' and apt_code = #{apt_code}
	</select>
	
	<select id="login" parameterType="memberVO" resultType="memberVO">
		select * from member where member_id = #{member_id} and member_pw = #{member_pw}
	</select>
	
	<select id="code2name" parameterType="memberVO" resultType="aptVO">
		select a.* from apt a, `member` m where a.apt_code = m.apt_code and m.member_id = #{member_id}
        <!-- select a.name from apt a, apt_member an where a.code = an.code and an.id = #{id} -->
    </select>
	
	<select id="idck" parameterType="memberVO" resultType="memberVO">
		select * from member where member_id = #{member_id}
	</select>
	<!-- 버스정류장 update기능 -->
	<update id="upstop" parameterType="memberVO">
		update member set stop_id = #{stop_id} where member_id = #{member_id}
	</update>
	
	
</mapper>