<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restreply">
<select id="list" parameterType="restreplyVO" resultType="restreplyVO">
	select * from rest_reply where rest_id = #{rest_id} order by rere_id desc
</select>
 <insert id="insert" parameterType="restreplyVO">
	insert into rest_reply values (null,#{member_code},#{rere_writer},#{rere_content},#{rest_id},#{rere_score},#{apt_code})
</insert>
<update id="update" parameterType="restreplyVO">
	update rest_reply set rere_content=#{rere_content},rere_score=#{rere_score} where rere_id=#{rere_id}
</update> 
<delete id="delete" parameterType="restreplyVO">
delete from rest_reply where rere_id = #{rere_id}
</delete>
<select id="myreview" parameterType="restreplyVO" resultType="restreplyVO">
select * from rest_reply where rest_id = #{rest_id} and member_code=#{member_code}
</select>
<select id="otherreview" parameterType="restreplyVO" resultType="restreplyVO">
select * from rest_reply where rest_id = #{rest_id} and member_code != #{member_code} order by rere_id desc
</select>

<!-- 	<insert id="create" parameterType="bbsVO">
		insert into bbs values(#{id}, #{title}, #{writer}, #{content},#{code})
	</insert>
	<delete id="del" parameterType="bbsVO">
		delete from bbs where id= #{id}
	</delete>
	<update id="up" parameterType="bbsVO">
		update bbs set content=#{content} where id=#{id}
	</update>
	해당 아파트의 게시글  검색
	<select id="all" parameterType="bbsVO" resultType="bbsVO">
	select * from bbs where code=#{code}
	</select>
	입력한 제목으로 해당 아파트 코드 내 검색 
	<select id="search" parameterType="bbsVO" resultType="bbsVO">
		select * from bbs where title=#{title} and code=#{code}
	</select>
	상세보기 하기위한 id로 하나검색하는 sql 
	<select id="one" parameterType="bbsVO" resultType="bbsVO">
	select * from bbs where id=#{id}
	</select> -->
</mapper>











